*.bc
*.d
*.exe
*.i
*.ii
*.lto_wrapper_args
*.ltrans.out
*.ltrans_args
*.o
*.obj
*.res
*.s
*.wpa.args.0
/**/dbs26
/**/dbs26-clang-*-c*
/**/dbs26-clang-*-gnu*
/**/dbs26-gcc-*-c*
/**/dbs26-gcc-*-gnu*
/*.creator.user
/.qtc_clangd
/.vscode
/build
